.container_L{
    display: flex;
    flex:1;
    flex-direction: row;
    height: 86vh;
    width: 100vw;
    margin: auto;
    background-color: #EDE8F5;
    align-items: center;
}
.welcomeCard_L {
    border: 4px solid #ccc;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4); 
  }

.formCard_L{
    border: 4px solid #ccc;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); 
}

.welcomeCard {
    background-color:#ADBBDA;
    width: 30vw;
    height: 80vh;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.welcomeTitle_L {
    font-size: 350%;
    text-align: center; 
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.welcomeText_L {
    text-align: center; 
    margin-bottom: 10vh;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
}

.signUP{
    padding: 1% 7%;
    font-size: 2em;
    background-color: #ADBBDA;
    border-radius: 50px;
    margin: 0 auto; 
    margin-bottom: 10vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 3px solid black; 
    transition: transform 0.3s ease; 
    text-decoration: none;
    color: black;
}

.signUP:hover {
    transform: translateY(-5px); 
}

.formCard_L{
    background-color: #8697C4;
    width: 70%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 5vw;
    height: 80vh;
}

.formTitle_L {
    font-size: 350%;
    text-align: center; 
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.formText_L {
    text-align: center; 
    margin-bottom: 7vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-style: italic;
}

.create_L {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 

}



.label_L {
    align-self: flex-start;
    margin-left: 11vw;
    font-size: 150%;
}

.input_L {
    font-size: 100%;
    font-weight: 550;
    padding: 1.5%;
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: 3%;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.input_L:active,  .input_L:focus{
    box-shadow: 5px 10px 25px rgba(255, 255, 255, 1);
    transform: translateY(-3px);
}
    
.registerButton_L{
    padding: 1% 5%;
    font-size: 1.5em;
    background-color:#8697C4;
    border-radius: 50px;
    margin: 0 auto; 
    margin-top: 3vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 3px solid black; 
    transition: transform 0.3s ease; 
    color: black;

}

.registerButton_L:hover {
    transform: translateY(-5px); 
}

.error{
    align-self: flex-start;
    margin-left: 11vw;
    margin-bottom: 2vh;
    color: red;
} 




