.Login_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100dvh - var(--navbarHeight));
    background: radial-gradient(circle farthest-corner at 950px 900px,#7d7d7d,#030f19,#000912);
}

.Login_WelcomeCard {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #030f19;
    width: 576px;
    height: 766px;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 13px 28px -4px rgba(0,0,0,0.75);
    margin-left: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.Login_WelcomeCard h1{
    font-size: 5rem;
    margin-bottom: 50px;
    color: var(--AccentColor)
}

.Login_WelcomeCard h2{
    font-size: 1.5rem;
    text-align: center; 
    margin-bottom: 50px;
    color: var(--FontBorderColor)
}

.Login_WelcomeCard a{
    padding: 7px 25px;
    font-size: 1.9rem;
    border-radius: 50px;
    border: 2px solid var(--FontBorderColor);
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out, 
    color 0.5s ease-in-out, text-shadow 0.5s ease-in-out, transform 0.5s ease-in-out; 
    text-decoration: none;
    color: var(--FontBorderColor);
}

.Login_WelcomeCard a:hover{
    transform: translateY(-8px); 
    border-color:var(--AccentColor) ;
    box-shadow: 0 0 15px 5px var(--AccentColor);
    color: var(--AccentColor);
    text-shadow: 1px 3px 5px var(--AccentColor);
}

.Login_FormCard{
    background: rgba(255, 255, 255, 0.13);
    border: 1px solid #030f19;
    width: 1344px;
    height: 766px;  
    box-shadow: 15px 9px 22px 5px rgba(0,0,0,0.75);
    margin-right: 77px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

 .Login_FormCard h1{
    font-size: 5rem;
    margin-top: 8.5rem;
    margin-bottom: 50px;
    color: var(--FontBorderColor);
}

.Login_FormCard h2{
    font-size: 2rem;
    margin-bottom: 50px;
    font-style: italic;
    color: var(--AccentColor);
}

.Login_FormCard form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
}

.Login_FormCard form label {
    position: relative;
    margin-inline: 0;
}


.Login_FormCard form label:nth-child(2){
    margin-top: 2.9rem;
}

.input_field_L {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    width: 803px;
    box-sizing: border-box;
    display: block;
    border: 1px solid var(--FontBorderColor);
    color: var(--FontBorderColor);
    background: transparent;
    border-radius: 6px;
}

.input_field_L:focus,
.input_field_L:active {
    outline: none;
    border: 2px solid var(--AccentColor);
}

.input_label_PL,
.input_label_EL{
    margin-top: 16px;
    margin-left: 5px;
    font-size: 1.5rem;
    padding: 2px 20px; 
    color: var(--FontBorderColor);
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    transition: transform 180ms ease-in-out;
}

.input_field_L:focus + .input_label_PL,
.input_field_L.has-value + .input_label_PL{
    margin-top: 7px;
    background: linear-gradient(to top, #4b5257, #4b5257);
    transform: translate(.25rem, -65%) scale(.8);
    color: var(--AccentColor);
}

.input_field_L:focus + .input_label_EL,
.input_field_L.has-value + .input_label_EL{
    margin-top: 7px;
    background: linear-gradient(to top, #3d454c, #3c444b);
    transform: translate(.25rem, -65%) scale(.8);
    color: var(--AccentColor);
}


.Login_FormCard form button{
    background: transparent;
    padding: 1% 5%;
    font-size: 1.5em;
    border-radius: 50px;
    margin: 0 auto; 
    margin-top: 3rem;
    font-weight: bold;
    border: 2px solid var(--FontBorderColor); 
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out, 
    color 0.5s ease-in-out, text-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
    color: var(--FontBorderColor);

}

.Login_FormCard form button:hover{
    transform: translateY(-8px); 
    border-color:var(--AccentColor) ;
    box-shadow: 0 0 15px 5px var(--AccentColor);
    color: var(--AccentColor);
    text-shadow: 1px 2px 5px var(--AccentColor);

}

.Login_Error_E {
    margin-left: auto;
    margin-right: 0.25vw;
    margin-top: 0.5vh;
    margin-bottom: 2.5vh;
    color: red; 
}

.Login_Error_P {
    margin-left: auto;
    margin-right: 0.25vw;
    margin-top: 0.5vh;
    margin-bottom: -2.15vh;
    color: red; 
}


.input_label_PL.error ,
.input_label_EL.error {
    color: red !important;
}



