 .Login_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100dvh - var(--navbarHeight));
    background: radial-gradient(circle farthest-corner at 1000px 900px,#7d7d7d,#040f19,#000912);
}



.Login_WelcomeCard {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    width: 30vw;
    height: 80vh;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4); 
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.Login_FormCard{
    background: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); 
    width: 70vw;
    margin-right: 5vw;
    height: 80vh;
}
.Login_WelcomeCard h1{
    font-size: 350%;
    text-align: center; 
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.Login_FormCard h1{
    font-size: 350%;
    text-align: center; 
    margin-bottom: 5vh;
    margin-top: 3vh;
}

.Login_WelcomeCard h2{
    text-align: center; 
    margin-bottom: 10vh;
}

.Login_FormCard h2{
    text-align: center; 
    margin-bottom: 7vh;
    font-style: italic;
    width: 62.5vw;
}

.Login_WelcomeCard a{
    padding: 1% 7%;
    font-size: 2em;
    background-color: #ADBBDA;
    border-radius: 50px;
    margin: 0 auto; 
    margin-bottom: 10vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 3px solid black; 
    transition: transform 0.3s ease; 
    text-decoration: none;
    color: black;
}

.Login_WelcomeCard a:hover{
    transform: translateY(-8px); 
}

.Login_FormCard form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.Login_FormCard form label{
    align-self: flex-start;
    margin-left: 11vw;
    font-size: 150%;
    
}

.Login_FormCard form input{
    font-size: 100%;
    font-size: 100%;
    font-weight: 550;
    padding: 1.5%;
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    width: 42vw;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.Login_FormCard form input:active,
.Login_FormCard form input:focus{
    box-shadow: 5px 10px 25px rgba(255, 255, 255, 1);
    transform: translateY(-3px);
}

.Login_FormCard form button{
    padding: 1% 5%;
    font-size: 1.5em;
    background-color:#8697C4;
    border-radius: 50px;
    margin: 0 auto; 
    margin-top: 3vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 3px solid black; 
    transition: transform 0.3s ease; 
    color: black;

}

.Login_FormCard form button:hover{
    transform: translateY(-8px); 

}

.Login_Error{
    align-self: flex-start;
    margin-left: 11vw;
    margin-bottom: 2vh;
    color: red;
} 




