.Register_Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100dvh - var(--navbarHeight));
    background: radial-gradient(circle farthest-corner at 950px 900px,#7d7d7d,#030f19,#000912);
}

.Register_WelcomeCard {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #030f19;
    width: 30vw;
    height: 80vh;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 13px 28px -4px rgba(0,0,0,0.75);
    margin-left: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.Register_WelcomeCard h1{
    font-size: 5rem;
    margin-bottom: 50px;
    color: var(--FontBorderColor)
}

.Register_WelcomeCard h2{
    padding-inline: 1vw;
    font-size: 1.5rem;
    text-align: center; 
    margin-bottom: 50px;
    color: var(--AccentColor)
}

.Register_WelcomeCard a{
    padding: 7px 25px;
    font-size: 1.9rem;
    border-radius: 50px;
    border: 2px solid var(--FontBorderColor);
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out, 
    color 0.5s ease-in-out, text-shadow 0.5s ease-in-out, transform 0.5s ease-in-out; 
    text-decoration: none;
    color: var(--FontBorderColor);
}

.Register_WelcomeCard a:hover{
    transform: translateY(-8px); 
    border-color:var(--AccentColor) ;
    box-shadow: 0 0 15px 5px var(--AccentColor);
    color: var(--AccentColor);
    text-shadow: 1px 3px 5px var(--AccentColor);
}

.Register_FormCard{
    background: rgba(255, 255, 255, 0.13);
    border: 1px solid #030f19;
    width: 70vh;
    height: 80vh;  
    box-shadow: 15px 9px 22px 5px rgba(0,0,0,0.75);
    margin-right: 77px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
}

.Register_FormCard h1{
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 50px;
    color: var(--FontBorderColor);
}

.Register_FormCard h2{
    font-size: 1.8rem;
    margin-bottom: 50px;
    font-style: italic;
    color: var(--AccentColor);
}

.Register_FormCard form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_R {
    position: relative;
}



.input_field_ER,
.input_field_PR {
    margin-top: 3rem;
}

.input_field_PR,
.input_field_ER,
.input_field_UR{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    width: 803px;
    box-sizing: border-box;
    display: block;
    border: 1px solid var(--FontBorderColor);
    color: var(--FontBorderColor);
    background: transparent;
    border-radius: 6px;
}

.input_field_PR:focus,
.input_field_ER:focus,
.input_field_UR:focus,
.input_field_PR:active,
.input_field_ER:active,
.input_field_UR:active {
    outline: none;
    border: 2px solid var(--AccentColor);
}
.input_label_UR{
   margin-top: 16px; 
}

.input_label_ER,
.input_label_PR {
    margin-top: 6.5vh;
}


.input_label_PR,
.input_label_ER,
.input_label_UR{
    
    margin-left: 5px;
    font-size: 1.5rem;
    padding: 2px 20px; 
    color: var(--FontBorderColor);
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    transition: transform 180ms ease-in-out;
}

.input_field_PR:focus + .input_label_PR,
.input_field_PR.has-value + .input_label_PR{
    margin-top: 5.8vh;
    background: linear-gradient(to top, #565b60, #565b61);
    transform: translate(.25rem, -65%) scale(.8);
    color: var(--AccentColor);
}

.input_field_ER:focus + .input_label_ER,
.input_field_ER.has-value + .input_label_ER{
    margin-top: 5.8vh;
    background: linear-gradient(to top, #464d53, #464d53);
    transform: translate(.25rem, -65%) scale(.8);
    color: var(--AccentColor);
}

.input_field_UR:focus + .input_label_UR,
.input_field_UR.has-value + .input_label_UR{
    margin-top: 7px;
    background: linear-gradient(to top, #353e45, #343d45);
    transform: translate(.25rem, -65%) scale(.8);
    color: var(--AccentColor);
}

.Register_FormCard form button{
    background: transparent;
    padding: 1% 5%;
    font-size: 1.5em;
    border-radius: 50px;
    margin: 0 auto; 
    margin-top: 3vh;
    font-weight: bold;
    border: 2px solid var(--FontBorderColor); 
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out, 
    color 0.5s ease-in-out, text-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
    color: var(--FontBorderColor);
}

.Register_FormCard form button:hover{
    transform: translateY(-8px); 
    border-color:var(--AccentColor) ;
    box-shadow: 0 0 15px 5px var(--AccentColor);
    color: var(--AccentColor);
    text-shadow: 1px 2px 5px var(--AccentColor);
}

.Register_Error {
    margin-left: auto;
    margin-right: 0.25vw;
    margin-top: 0.6vh;
    margin-bottom: -2rem;
    color: red; 
}


.input_label_ER.error,
.input_label_UR.error,
.input_label_PR.error {
    color: red !important;
}

