.Dashboard{
  height: calc(100dvh - var(--navbarHeight));
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  "div-1 div-1 div-1 div-1 div-2"
  "div-1 div-1 div-1 div-1 div-2"
  "div-1 div-1 div-1 div-1 div-2"
  "div-4 div-4 div-3 div-3 div-3"
  "div-4 div-4 div-3 div-3 div-3"; 
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
  color:white;
}

.albumdata { 
  grid-area: div-1;
  background: linear-gradient(to top,#1f2130, #11162a,#14182e);
  margin-left: 1vw;
  margin-top: 1vh;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
}
.Carousel{
  color:white;
  margin-top: 1vh;
  height: 51vh;
  width: 77.5vw;
  margin-left: 0.25vw;
}
.OuterAlbumCont{
  width: 77vw !important;
  height: 50vh;
}
.artistname p {
  font-size: 2.8rem;
  text-shadow: 0px 4px 7px rgba(255, 255, 255, 0.6);
  margin-right: auto;
  padding-left: 35px;
  height: 6vh;
  width: fit-content;
}
.InnerAlbumCont{
  display: flex !important;
}

.AlbumArtist{
  padding: 0px 10px 0px 0px;
  margin-left: 1.5vw;
  margin-top: 1.5vh;

}
.AlbumArtist img {
  border: 1px solid white;
  border-radius: 20px;
  width: 350px !important;
  height: 360px !important;
}

.albuminfo{
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
  width: 52.5vw;
  height: 44vh;
}
.albuminfo p{
  font-size: 2rem;
  text-shadow: 0px 3px 7px rgba(255, 255, 255, 0.6);
}

.albumsCont{
  overflow-y: auto;
  padding: 10px 10px;
  height: 35vh;
}

.albumsCont::-webkit-scrollbar {
  width: 12px;
}

.albumsCont::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.albumsCont::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #cbcbcb;
}
.albumlist{
  display: flex;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 2vh;

}

.albumlist img{
  width: 125px;
  border-radius: 10px;
}

.albumlist p{
  font-size: 1.8rem;
  margin-left: 1vw;
  text-shadow: 0px 0px 0px rgba(0,0,0,0)
}


.genre-frequency{ 
  background: linear-gradient(to top,#1f2130, #11162a,#14182e);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  grid-area: div-2;
  margin-right: 1vw;
  margin-top: 1vh;
  padding: 20px 0px 0px 17px;
}

.genre-frequency h4{
  font-size: 2.5rem;
  text-shadow: 0px 3px 7px rgba(255, 255, 255, 0.6);
}

.genres{
  /* border: 1px solid whitesmoke; */
  margin-top: 2vh;
  margin-right: 1vw;
  height: 40vh;
  border-radius: 20px;
  padding: 5px 0px 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.genres p{
  font-size: 1.5rem;
}

.artist { 
  grid-area: div-4;
  background: linear-gradient(to bottom,#1f2130, #11162a,#14182e);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  margin-left: 1vw;
  margin-bottom: 1vh;
  padding-left: 30px !important;
  padding-top: 20px ;

}

.artistCont{
  overflow-y: auto;
  height: 25vh;
  width: 35vw;
}

.artistCont::-webkit-scrollbar {
  width: 12px;
}

.artistCont::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
  box-shadow: inset 0 0 6px rgba(229, 229, 229, 0.3);
}

.artistCont::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: whitesmoke;
}

.artistTitle h4{
  font-size: 2.3rem;
  text-shadow: 0px 3px 7px rgba(255, 255, 255, 0.6);
  margin-bottom: 1.5vh;
}

.artists p{
  font-size: 1.4rem;
  margin-bottom: 1vh;

}

.TopTracks { 
  grid-area: div-3;
  background: linear-gradient(to bottom,#1f2130, #11162a,#14182e);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  margin-right: 1vw;
  margin-bottom: 1vh;
  padding: 20px 0px 0px 30px;

}
.TopTracksCont{
  overflow-y:auto;
  height: 24vh;
  width: 56vw;
  margin-top: 3vh;
}

.TopTracksCont::-webkit-scrollbar {
  width: 12px;
}

.TopTracksCont::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
  box-shadow: inset 0 0 6px rgba(229, 229, 229, 0.3);
}

.TopTracksCont::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: whitesmoke;
}
.TopTracks h4{
  font-size: 2.3rem;
  text-shadow: 0px 3px 7px rgba(255, 255, 255, 0.6);
}

.track{
  display: flex;
  /* border: 2px solid blue; */
  align-items: center;
  margin-bottom: 2vh;
}

.track img{
  width: 100px;
}

.track p{
  font-size: 1.5rem;
  margin-left: 1vw;
}

