.Dashboard{
  height: calc(100dvh - var(--navbarHeight));
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "div1 div1 div1 div2 div2"
    "div1 div1 div1 div2 div2"
    "div1 div1 div1 div3 div3"
    "div1 div1 div1 div3 div3"
    "div1 div1 div1 div3 div3"; 
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
  color:white;
}

.albumdata { 
  grid-area: div1;
  box-shadow: inset 0px 1px 15px 5px rgba(255,255,255,0.3);
  background-color: #021223;
  margin-left: 1vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  
}
.albumdataTitle{
  /*This goes to 1000px*/
  font-size: clamp(2.2rem, 1.874rem + 0.522vw, 2.5rem);
  color: var(--AccentColor);
  padding-left: 20px;
  padding-top: 20px;
}
.Carousel{
  color:white;
  margin-top: 1vh;
  height: 78vh;
  width: 57vw;
  margin-left: 0.7vw;
}

.OuterAlbumCont{
  /* width: 77vw !important; */
  height: 75vh;
}
.albumartistinfo{
  display: flex;
  height: max-content;
  padding-left: 45px;
  margin-top: 2vh;
}

.artistText{
  margin-top: 1vh;
  margin-left: 2vw;
  line-height: 2.7rem;
  margin-block: auto;
}

.artistText p{
  font-size: clamp(1.7rem, 1.071rem + 0.774vw, 2rem);/*1300px*/
}

.artistText p:nth-of-type(2) {
  font-size: clamp(2.2rem, 1.571rem + 0.774vw, 2.5rem);/*1300px*/
  color: var(--AccentColor)
}
.artistStats p{
  font-size: clamp(1.4rem, 0.771rem + 0.774vw, 1.7rem);/*1300px*/
}
.albumartistinfo img{
  border: 1px solid white;
  border-radius: 20px;
  width: clamp(18.125rem, 15.504rem + 3.226vw, 19.375rem) !important;/*1300px*/
  height: clamp(18.125rem, 15.504rem + 3.226vw, 19.375rem) !important;/*1300px*/

}
.latestReleases{
 margin-left: 1vw;

}
.latestreleasetitle{
  font-size: 2rem;
  color: var(--AccentColor);
  margin-top: 2vh;
  padding-left: 25px;
  
}

.albumsCont{
  margin-left: 1vw;
  margin-right: 2vw;
  overflow-y: auto;
  height: 31vh;
  margin-top: 1vh;
  box-sizing: border-box;
}

.albumsCont::-webkit-scrollbar {
  width: 12px;
}

.albumsCont::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

.albumsCont::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #cbcbcb;
}
.albumlist{
  display: flex;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 2vh;
}

.albumlist img{
  width: clamp(6.25rem, 2.974rem + 4.032vw, 7.813rem); /*1300px*/
  border-radius: 10px;
}

.albumlist p{
  font-size: clamp(1.5rem, 0.871rem + 0.774vw, 1.8rem);/*1300px*/
  margin-left: 1vw;
}

.genre-frequency{ 
  box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,0.3);
  background-color: #021223;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  grid-area: div2;
  margin-right: 1vw;
  margin-top: 1.5vh;
  padding: 20px 0px 0px 25px;
}

.genre-frequency p{
  font-size: clamp(2.2rem, 1.874rem + 0.522vw, 2.5rem);/*1000px*/

}

.genres{
  margin-top: clamp(0rem, -3.913rem + 6.261vw, 3.6rem);/*1000px*/
  margin-right: 1vw;
  padding-left: clamp(0rem, -1.087rem + 1.739vw, 1rem);
  column-width: 16vw; 
  column-gap: 23px; 
  height: 23vh;  
}

.genres p{
  padding-top: 10px;
  font-size: clamp(1.45rem, 0.926rem + 0.645vw, 1.7rem);
}

.TopTracks { 
  grid-area: div3;
  box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,0.3);
  background-color: #021223;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  margin-right: 1vw;
  margin-bottom: 1.5vh;
  padding: 25px 0px 0px 25px;

}

.TopTracks p{
  color: var(--AccentColor);
  font-size: clamp(2.2rem, 1.874rem + 0.522vw, 2.5rem);/*1000px*/
}

.TopTracksCont{
  overflow-x: hidden;
  overflow-y:auto;
  height: 39vh;
  width: clamp(21.5rem, -1.394rem + 36.63vw, 42.563rem);
  margin-top: 2vh;
}

.TopTracksCont::-webkit-scrollbar {
  width: 12px;
}

.TopTracksCont::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

.TopTracksCont::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: whitesmoke;
}

.track{
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  padding-left: 5px;
  width: 34vw;
}

.track img{
  /*This goes to 1300px*/
  width: clamp(5.625rem, 4.315rem + 1.613vw, 6.25rem) !important;
  border-radius: 15px;
}

.track p{
  /*Good until 1300px*/
  font-size: clamp(1.3rem, 0.881rem + 0.516vw, 1.5rem);
  margin-left: 1vw;
  max-width: clamp(20.313rem, -5.242rem + 31.452vw, 32.5rem);
  color: white;
}
 
@media only screen and (max-width:1560px){
  .albumlist p{
    max-width: clamp(33.125rem, 6.56rem + 32.695vw, 38.438rem);/*1300px*/
  }
  .artistText{
    max-width: clamp(22.688rem, -11.063rem + 41.538vw, 29.438rem);
  }
  
}
@media only screen and (max-width:1299px) {
  /*This is goes to 1000px*/
  .genres p{
    font-size: clamp(1.2rem, 0.367rem + 1.333vw, 1.45rem);
  }

  .genres{
    column-gap: clamp(1.063rem, -0.192rem + 2.007vw, 1.438rem);
  }

  .track img{
    width: clamp(4.375rem, 0.208rem + 6.667vw, 5.625rem) !important;

  }

  .track p{
    font-size: clamp(1.1rem, 0.433rem + 1.067vw, 1.3rem);
    max-width: clamp(14.375rem, -5.417rem + 31.667vw, 20.313rem);
  }

  .albumlist p{
    font-size: clamp(1.2rem, 0.2rem + 1.6vw, 1.5rem);
    max-width: clamp(23rem, -10.75rem + 54vw, 33.125rem);
  }

  .albumlist img{
    width: clamp(5rem, 0.833rem + 6.667vw, 6.25rem)
  }

  .albumartistinfo img {
    width: clamp(14rem, 0.25rem + 22vw, 18.125rem) !important;
    height: clamp(14rem, 0.25rem + 22vw, 18.125rem) !important;
  }

  .artistText{
    max-width:clamp(15rem, -10.627rem + 41.003vw, 22.688rem);
  }

  
}

/*Layout Changed*/

@media only screen and (max-width:999px) {
  /*goes to 500px*/
  .albumdata{
    margin-right: 1vw;
  }

  .albumdataTitle{
    font-size: clamp(1.7rem, 1.099rem + 1.924vw, 2.3rem);
    padding-left: 30px;
    padding-top: 30px;
  }

  .Carousel{
    width: 96.5vw;
  }

  .artistText{
    line-height: 2rem;
    max-width: clamp(12.5rem, -10.671rem + 74.148vw, 35.625rem);
  }

  .artistText p{
    font-size: clamp(1.4rem, 0.799rem + 1.924vw, 2rem);

  }

  .artistText p:nth-of-type(2){
    font-size: clamp(1.9rem, 1.299rem + 1.924vw, 2.5rem);
  }

  .artistStats p{
    font-size: clamp(1.1rem, 0.499rem + 1.924vw, 1.7rem);
  }

  .albumartistinfo img{
    width: clamp(11.25rem, 9.997rem + 4.008vw, 12.5rem) !important;
    height: clamp(11.25rem, 9.997rem + 4.008vw, 12.5rem) !important;
  }

  .latestreleasetitle{
    font-size: clamp(1.3rem, 0.799rem + 1.603vw, 1.8rem);  }

  .albumsCont{
    width: 91vw;
  }


  .albumlist img{
    width: clamp(4.375rem, 2.496rem + 6.012vw, 6.25rem);
  }
  
  .albumlist p{
    font-size: clamp(1.3rem, 1.1rem + 0.641vw, 1.5rem);
    margin-left: 2vw;
    max-width: clamp(20.625rem, -5.051rem + 82.164vw, 46.25rem);
  }

  .genre-frequency{
    margin-left: 1vw;
    margin-bottom: 1.5vh;
  }

  .genre-frequency p{
    font-size: clamp(2rem, 1.699rem + 0.962vw, 2.3rem);
 }

  .genrescolumncont{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 2vh;
    margin-bottom: 4vh;
    padding-right: 25px;
    padding-left: 15px;
  }
  .genrecolumn p {
    font-size: clamp(1.1rem, 0.699rem + 1.283vw, 1.5rem);
  }
  .TopTracks{
    margin-left: 1vw;
  }
  .TopTracks p{
    font-size: clamp(2rem, 1.699rem + 0.962vw, 2.3rem);
  }
  .TopTracksCont{
    width: clamp(28.125rem, -2.06rem + 96.593vw, 58.25rem);
    margin-bottom: 2vh;
  }
  .track{
    width: 90vw;
  }
  .track img{
    width: clamp(5rem, 3.747rem + 4.008vw, 6.25rem) !important;
  }
  .track p{
    max-width: clamp(20.5rem, 0.335rem + 64.529vw, 40.625rem);
    font-size: clamp(1.2rem, 0.699rem + 1.603vw, 1.7rem);
    margin-left: 2vw;
  }



}

@media only screen and (max-width:499px) {
  .albumartistinfo{
    display: block;
  }
  .albumdataTitle{
    font-size: clamp(1.5rem, 1.144rem + 1.778vw, 1.7rem);
    padding-left: clamp(1.438rem, 0.66rem + 3.889vw, 1.875rem);
  }

  /* .albumartistinfo img{
    width: 10rem !important;
    height: 10rem !important;
  } */

  .TopTracksCont{
    width: 20px;
  }
  
}