.out {
    display: flex;
    justify-content: space-between;   
    padding: 10px;
    background-color: #000912;
    height: 10vh;
    align-items: center;
    border-bottom: 4px solid #ccc;
}
.out a{
    color: white;
    text-decoration: none; 
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 35px; 

}

.out a:hover{
    background-color: #7191e6;
}
.homeButton {
    justify-content: flex-start;
    margin-left: 2vw;
  }
  
.user {
    justify-content: flex-end; 
    display: flex;
    flex-direction: row;
    
  }
.user a{
    margin-right: 3vw;
}


 

