*{
    margin: 0;
    padding: 0;
    font-family: 'Aclonica', sans-serif;
}

body{
    background-color: #000912;
}

:root{
    --navbarHeight: 98.55px;
    --AccentColor: #dc8b30; 
    --FontBorderColor: #f5f5f5;
}